<!doctype html>
<html>
<head>
	<title>Bucket List</title>
</head>
<body>
	<h1>Hello World!</h1>
	<div id="content">
		<h4>This is where the todos go</h4>
	</div>


	<script src="jquery/dist/jquery.js"></script>
	<script src="node_modules/underscore/underscore.js"></script>
	<script src="backbone.js"></script>
	<script src="bucket.js"></script>
	<script src="bucket_view.js"></script>
</body>
</html>