<!doctype html>
<html>
<head>
	<title>Bucket List</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1 class="title-main">Hello World!</h1>
	<div id="content">
		<div class="list-container">
			<div class="add-todo-wrapper">
				<div class="add-todo group">
					<textarea></textarea>
					<div class="add-btn">Add Todo</div>
				</div>
			</div>
			<ul class="todos">
				<li class="todo">
					<span>Hello World</span>
					<span>
						<i class="fa fa-check-square-o">Complete</i>
						<i class="fa fa-trash">Delete</i>
					</span>
				</li>
				<li class="todo">
					<span>Hello World</span>
					<span>
						<i class="fa fa-check-square-o">Complete</i>
						<i class="fa fa-trash">Delete</i>
					</span>
					</li>
				<li class="todo">
					<span>Hello World</span>
					<span>
						<i class="fa fa-check-square-o">Complete</i>
						<i class="fa fa-trash">Delete</i>
					</span>
				</li>
				<li class="todo">
					<span>Hello World</span>
					<span>
						<i class="fa fa-check-square-o">Complete</i>
						<i class="fa fa-trash">Delete</i>
					</span>
				</li>
				<li class="todo">
					<span>Hello World</span>
					<span>
						<i class="fa fa-check-square-o">Complete</i>
						<i class="fa fa-trash">Delete</i>
					</span>
				</li>
			</ul>
		</div>
	</div>


	<script src="jquery/dist/jquery.js"></script>
	<script src="node_modules/underscore/underscore.js"></script>
	<script src="backbone.js"></script>
	<script src="bucket.js"></script>
	<script src="bucket_view.js"></script>
</body>
</html>