/*Overall, this CSS could be DRYer. I opted not to use Bootstrap as I am
inexperienced with it and due to time concerns. In the future, I would 
prefer to use it, as it would make initial page setup easier.*/

html, body, section, article, div,
h1, h2, p, strong, em, a, ul, li,
nav, header, form, img {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	box-sizing: inherit;
	font: inherit;
	text-decoration: inherit;
	text-align: inherit;
	color: inherit;
	background: transparent;
	box-sizing: inherit;
}

ul, li {
	list-style: none;
}

body {
	background-color: #ecf0f1;
}



/*clearfix*/
.group:after {
	content: "";
	display: block;
	clear: both;
}

/*app header*/
.title-main {
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px;
	font-family: 'Lato'
}

/*main content*/
.list-container {
	width:1000px;
	margin: auto;
	padding: 20px;
	border-radius: 6px;
	background-color: #98C4F0;
}

/*sign-in*/
.form-signin {
	width: 300px;
	margin: auto;
}

.form-signin-heading {
	text-align: center;
}

/*new to-do form styles*/
.add-todo-wrapper {
	margin-bottom: 40px;
	float: right;
	width: 360px;
}

.new-header {
	font-size: 28px;
	margin-bottom: 7px;
}

.add-todo {
	padding: 20px 25px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.add-todo > textarea {
	margin: 0px;
  min-height: 75px;
  width: 300px;
  font-size: 15px;
}

.add-btn {
  margin: auto;
  margin-top: 8px;
  padding: 17px;
  background-color: #C0D6E2;
  border-radius: 6px;
  font-size: 26px;
  text-align: center;
  width: 120px;
}

.add-btn:hover {
	cursor: pointer;
	color: #FFFFFF;
	text-shadow: #000 2px 2px 2px;
}

/*to-do list styles*/

.todos-header {
  width: 300px;

  font-size: 28px;
} 

.todos {
	float: left;
	width: 600px;
	margin: auto;
	border-radius: 6px;
	box-sizing: border-box;
	color: #000;
}

/*to-do list-item styles*/
.todo {
	margin: 7px 0 23px 0;
  background-color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 6px;
}

.todo-desc {
	float: left;
	max-width: 300px;
	font-size: 20px;
}

.todo-status {
	float: right;
	font-size: 14px;
}

.updt {
	margin-right: 10px;
}

.updt:hover, .dlt:hover {
	cursor: pointer;
}

.updt:hover {
	color: green;
}

.dlt:hover {
	color: red;
}

.stat-comp {
	color: green;
}

.stat-comp:hover {
	color: #000;
}





